.ChatPage-container{
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-chat-area-wrapper {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    

}




.ChatPage-header{
    position:absolute;
    margin-right: auto;
    margin-left: auto;
    top: 5px;
    right: 0px;
    left: 0px;
    z-index: 999;

}

.script-wrapper,
.AI-chat-wrapper {
    width: 70vw;
    height: 80vh;
    max-width: 950px;
    max-height: 700px;
    margin-top: auto;
    margin-bottom: 50px;
}
