.Chatbox {
    position: absolute;
    bottom: 150px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 0px solid #ccc;
}

.message-list {
    flex-grow: 1;
    overflow-y: scroll;
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    
}
.message-bubble {
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 18px;
    max-width: 80%;
    width: fit-content;
    font-size: 25px;
}
.message-list .user-message {
    background-color: #555555;
    align-self: flex-end;
    color: rgb(255, 255, 255)
}
.message-list .bot-message {
    background-color: #555555;
    align-self: flex-start;
    color: white
}
/* 
.input-box {
    flex-shrink: 0;
    padding: 15px 10px;
    border-top:0px solid #eee;
    display: flex;
    align-items: center;

}

.input-box input {
    flex-grow: 1;
    padding: 12px; 
    font-size: 16px; 
    margin-right: 10px;
    box-sizing: border-box;
    background-color: white;
    
}
.input-box button {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #555555;
    color: white;
    border: none;
    cursor: pointer;
} */