.main-container {
  position:fixed;
  display: flex;
  justify-content: center; 
  align-items: center;      
  height: 100vh;              
  padding: 20px;           
}

.hendrix-image {
  position:fixed;
  display:flex;
  top: 50%;
  left: 50%;
  transform: translate(45%, -30%);
  width: 600px;  
  height: 600px;
  
}

.crowd-image {
  position:fixed;
  display:flex;
  top: 20%;
  left: -25%;
  transform: translate(10%, -20%);
  width: 2400px;  
  height: 1200px;
  transform: rotate(45deg);
}

