.ui-wrapper {
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 600px;
  height: 400px;
  max-width: 900px;
  padding: 30px;

  background: rgba(34, 183, 1, 0); /* soft transparent purple */
  backdrop-filter: blur(25px) saturate(140%);
  -webkit-backdrop-filter: blur(25px) saturate(140%);

  border-radius: 20px;
  border: 1px solid rgba(200, 120, 255, 0.35);

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.chat-button {
  font-family: "Special Elite", cursive;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: yellow;
}

.chat-button:hover {
  background-color: orange;
}

.title {
  font-family: "Special Elite", cursive;
  margin-top: 0px;
  color: blueviolet;
}
