.ui-wrapper {
  position: relative;
  width: 600px;
  height: 400px;
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;

  background: rgba(255, 255, 255, 0.347); /* soft transparent purple */
  backdrop-filter: blur(25px) saturate(140%);
  -webkit-backdrop-filter: blur(25px) saturate(140%);

  border-radius: 20px;
  border: 1px solid rgba(200, 120, 255, 0.35);

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}
